#jinja2: lstrip_blocks: "True"
[Unit]
Description=Dendrite server
{% for service in matrix_dendrite_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_dendrite_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ matrix_systemd_unit_home_path }}"
ExecStartPre=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} kill matrix-dendrite 2>/dev/null'
ExecStartPre=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} rm matrix-dendrite 2>/dev/null'

{% if 'matrix-postgres.service' in matrix_dendrite_systemd_required_services_list %}
# Dendrite is too quick to start in relation to its matrix-postgres dependency.
# Delay Dendrite startup to avoid failing with: "failed to connect to accounts db" ("pq: the database system is starting up").
ExecStartPre={{ matrix_host_command_sleep }} 5
{% endif %}

ExecStart={{ matrix_host_command_docker }} run --rm --name matrix-dendrite \
			--log-driver=none \
			--user={{ matrix_user_uid }}:{{ matrix_user_gid }} \
			--cap-drop=ALL \
			--read-only \
			--tmpfs=/tmp:rw,noexec,nosuid,size={{ matrix_dendrite_tmp_directory_size_mb }}m \
			--network={{ matrix_docker_network }} \
			{% if matrix_dendrite_container_http_host_bind_address and matrix_dendrite_http_bind_port %}
			-p {{ matrix_dendrite_container_http_host_bind_address }}:{{ matrix_dendrite_http_bind_port }} \
			{% endif %}
			{% if matrix_dendrite_container_https_host_bind_address and matrix_dendrite_https_bind_port %}
			-p {{ matrix_dendrite_container_https_host_bind_address }}:{{ matrix_dendrite_https_bind_port }} \
			{% endif %}
			--mount type=bind,src={{ matrix_dendrite_config_dir_path }},dst=/data,ro \
			--mount type=bind,src={{ matrix_dendrite_storage_path }},dst=/matrix-media-store-parent,bind-propagation=slave \
			--mount type=bind,src={{ matrix_dendrite_nats_storage_path }},dst=/matrix-nats-store,bind-propagation=slave \
			{% for volume in matrix_dendrite_container_additional_volumes %}
			-v {{ volume.src }}:{{ volume.dst }}:{{ volume.options }} \
			{% endfor %}
			{% for arg in matrix_dendrite_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ matrix_dendrite_docker_image }} \
			-config /data/dendrite.yaml \
			{% if matrix_dendrite_http_bind_address %}
			-http-bind-address {{ matrix_dendrite_http_bind_address }}
			{% endif %}
			{% if matrix_dendrite_https_bind_address %}
			-https-bind-address {{ matrix_dendrite_https_bind_address }}
			{% endif %}
			{{ matrix_dendrite_process_extra_arguments|join(' ') }}

ExecStop=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} kill matrix-dendrite 2>/dev/null'
ExecStop=-{{ matrix_host_command_sh }} -c '{{ matrix_host_command_docker }} rm matrix-dendrite 2>/dev/null'
ExecReload={{ matrix_host_command_docker }} exec matrix-dendrite /bin/sh -c 'kill -HUP 1'
Restart=always
RestartSec=30
SyslogIdentifier=matrix-dendrite

[Install]
WantedBy=multi-user.target
